//
// Resume
//

// ----------------------------------------------------------------------------
// Resume

#resume {
    .experience {
        margin: 0 0 2rem;

        hgroup {
            h4 {
               font-size: 1.3rem;
               margin: 0;
            }
        }
    }
}
