//
// Variables
//

// ----------------------------------------------------------------------------
// Colours

$grey: #f8f9f9;
$domain: #237b3f;
$white: #ffffff;

// ----------------------------------------------------------------------------
// Globals

$bg: $white;
$primary: #5758bb;

// ----------------------------------------------------------------------------
// Header

$header-bg: $primary;

// ----------------------------------------------------------------------------
// Skills

$skills-bg: $grey;
$skill-nav: #cccccc;

// ----------------------------------------------------------------------------
// Footer

$footer-bg: #f8f9f9;
