//
// Variables
//

// ----------------------------------------------------------------------------
// Colours

$domain: #237b3f;
$white: #ffffff;

// ----------------------------------------------------------------------------
// Globals

$bg: $white;
$primary: #5758bb;

// ----------------------------------------------------------------------------
// Header

$header-bg: $primary;

// ----------------------------------------------------------------------------
// Skills

$skills-bg: #f5f6fa;

// ----------------------------------------------------------------------------
// Footer

$footer-bg: #f5f6fa;
