<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-4 offset-md-2" id="links">
      <h2>Everywhere else</h2>
      <ul class="list-group">
        {% for link in site.author.links %}
        <li class="list-group-item">
          <i class="{{ link.icon }}"></i> <a href="{{ link.url }}" target="_blank"><span>{{ link.label }}</span></a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-12 col-sm-12 col-md-4" id="acknowledgements">
      <h2>Acknowledgements</h2>
      <dl>
        {% for acknowledgement in site.data.acknowledgements %}
        <dt>
          <a href="{{ acknowledgement.url }}" target="_blank">{{ acknowledgement.source }}</a>
        </dt>
          <dd>{{ acknowledgement.by }}</dd>
          {% endfor %}
      </dl>
    </div>
  </div>
</div>
