//
// Skills
//

// ----------------------------------------------------------------------------
// Home / Skills

.skills {
    padding: 0;

    h2 {
        margin: 0 0 2rem;
        text-align: center;
    }

    .skills-list {

        .skill {
            display: flex;
            flex-direction: row;
            margin: 0;

            .card {
                background: $skills-bg;
                border-top: 0;
                border-left: 0;
                border-right: 0;
                border-bottom: 2px solid $primary;
                border-radius: 0;
                padding: 1.5rem;

                .card-header {
                    background: $skills-bg;
                    border: none;
                    text-align: center;

                    img {
                        margin: 0 auto;
                        width: 50%;
                    }
                }

                .card-title {
                    font-family: 'Permanent Marker', cursive;
                    font-size: 1.6rem;
                    margin: 0 0 1.5rem;
                    text-align: center;
                }

                .card-body {
                    flex-grow: 1;

                    p {
                        line-height: 1.5;
                    }
                }
            }
        }

    }

    .tns-controls {
        display: none;
    }

    .tns-nav {
        margin: 1.5rem 0 0.5rem;
        text-align: center !important;

        [aria-controls] {
            width: 9px;
            height: 9px;
            padding: 0;
            margin: 0 5px;
            border-radius: 50%;
            background: $skill-nav;
            border: 0;
        }

        .tns-nav-active {
            background: $primary;
        }
    }

    .tns-inner {
        margin: 0 0 0 24px !important;
    }
}


// ----------------------------------------------------------------------------
// LG Overrides

@include media-breakpoint-up(lg) {
    .skills {
        .skills-list {
            .skill {
                margin: 0;
            }
        }
    }
}
