<div class="hero d-flex align-items-center">
  <div class="container-lg">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12 mx-auto">
        <div class="profile">
          <div class="row">
            <div class="col-12 order-2 col-sm-7 order-sm-1 col-md-7 order-md-1 col-lg-7 order-lg-1 d-flex align-items-center profile-bio">
              <section>
                <h1>{{ page.subtitle }}</h1>
                <!-- <p>{{ page.description }}</p> -->
                {{ content }}
              </section>
            </div>
            <div class="col-12 order-1 col-sm-5 order-sm-2 col-md-5 order-md-2 col-lg-5 order-lg-2 d-flex align-items-center profile-photo">
              <div class="mx-auto">
                <img class="img-fluid" src="/assets/img/photos/MatthewAkinoWittering-BW-Alpha.png" alt="Photo of Matthew Akino-Wittering">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



