<div class="skills" id="skills">
  <div class="container-lg">
    <div class="row">
      <div class="col">
        <h2>What I do!</h2>
        <div class="row d-flex flex-nowrap flex-lg-wrap overflow-lg-hidden skills-list">
          {% for skill in site.data.skills %}
            <div class="col skill">
              <div class="card">
                <div class="card-header">
                  <img src="{{ skill.image | relative_url }}" />
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{ skill.title }}</h5>
                  <p class="card-text">{{ skill.body }}</p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var tinySlider = tns({
    container: '.skills-list',
    gutter: 24,
    items: 1,
    loop: false,
    mouseDrag: true,
    navPosition: 'bottom',
    responsive: {
      768: {
        items: 2
      },
      992: {
        disable: true
      }
    }
  });
</script>
