<div class="skills" id="skills">
  <div class="container-lg">
    <div class="row gapless">
      <div class="col-12 col-lg-10 mx-auto">
        <h2>What I do...</h2>
        <div class="row d-flex flex-nowrap flex-lg-wrap overflow-lg-hidden skills-list">
          {% for skill in site.data.skills %}
            <div class="col-12 col-sm-10 col-md-6 col-lg-6 skill" data-aos="{{ skill.direction }}" data-aos-duration="{{ skill.duration }}">
              <div class="card">
                <img src="{{ skill.image }}" class="card-img-top" width="256" height="256" />
                <div class="card-body">
                  <h5 class="card-title">{{ skill.title }}</h5>
                  <p class="card-text">{{ skill.body }}</p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
